/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
.gallery-slider-container {
    position: relative;
    margin: 100px 0;
}
.custom-gallery {
    max-width: 1024px;
    margin: 0 auto;
    visibility: hidden;
}
.slick-track {
    display: flex !important;
}
.slick-slide {
    height: inherit !important;
    margin-left: 20px;
}
.slick-slide img {
    max-width: 100%;
    object-fit: cover;
    height: 100%;
}
.slick-arrow {
    font-size: 0;
    line-height: 0;
    position: absolute;
    top: 50%;
    display: block;
    width: 30px;
    height: 30px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    cursor: pointer;
    color: transparent;
    border: none;
    border-radius: 50%;
    outline: none;
    background: black;
}
.slick-next {
    right: 40px;
    left: auto;
}
.slick-prev {
    left: 40px;
    right: auto;
}
.slick-prev:before, .slick-next:before {
    font-size: 20px;
    line-height: 1;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-next:before {
    content: '>';
}
.slick-prev:before {
    content: '<';
}